<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riga Train Schedule</title>
    <link rel="stylesheet" href="/assets/css/libs/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
  </head>
  <body ng-app="routeSearch" ng-controller="SearchRouteController" ng-cloak>

  <!-- Angular Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="/assets/js/libs/angular-route.min.js"></script>
    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Riga Train Schedule</li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout primary search-bar">
      <div class="row">
        <div class="column medium-2 text-right">
          <p>Search route</p>
        </div>
        <div class="column medium-3">
          <label>
            <input autocomplete="off" ng-model="from" placeholder="From" type="text" name="from">
              <ul class="input-dropdown" ng-show="from">
                <li ng-repeat="i in stations | searchFor:from">
                  <p ng-click="setFrom(i.name)">{{i.name}}</p>
                </li>
              </ul>
          </label>
        </div>
        <div class="column medium-3">
          <label>
            <input autocomplete="off" ng-model="to" placeholder="To" type="text" name="to">
            <ul class="input-dropdown" ng-show="to">
              <li ng-repeat="i in stations | searchFor:to">
                <p ng-click="setTo(i.name)">{{i.name}}</p>
              </li>
            </ul>
          </label>
        </div>
        <div class="column medium-4">
          <button class="button">Search</button>
        </div>
        <span ng-show="from || to">
          Route from {{from}} to {{to}}
        </span>
      </div>
    </div>
    
    <div class="row" id="content">

      <div class="columns medium-8">

        <p>Search any routes...</p>

        <table class="hover stack result-table hide">
          <thead>
          <tr>
            <th>Riga</th>
            <th>Jurmala</th>
            <th width="150">Train nr.</th>
            <th width="150">Route</th>
            <th width="150">Time</th>
            <th width="200">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          <tr>
            <td>07:40</td>
            <td>08:20</td>
            <td>546123</td>
            <td>Riga - Jurmala</td>
            <td>1 hr 00 min</td>
            <td>2.00 &euro; <button class="button success">Buy</button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="medium-3 columns station-list" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>Available Stations</h4>
          <ul>
            <li>Riga</li>
            <li>Jurmala</li>
          </ul>
        </div>
      </div>

    </div>
    
    <script src="/assets/js/libs/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/libs/foundation.js"></script>
    <script src="/assets/js/main.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



